* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  flex-direction: column;
}
.dnd-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}
.dnd {
  height: 150px;
  width: 600px;
  background-color: #666;
  color: white;
  border-radius: 10px;
  border: 1px dotted #fff;
}
.dnd:hover {
  background-color: #4c4a4a;
}
.dnd p {
  text-align: center;
  padding: 10%;
}
.dnd-button {
  margin: 10px;
}
.dnd-button button {
  background-color: #666;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.dnd-button button:hover {
  background-color: #4c4a4a;
}

.upload-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #666;
  cursor: pointer;
}
.upload-button:hover {
  background-color: #4c4a4a;
}
.search-bar-input {
  padding: 10px;
  min-width: 300px;
  min-height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  border: none;
}
.search-bar:focus {
  border-color: #fff;
}

.search-bar {
  margin: 15px 0;
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.sb-container {
  margin-top: 15px;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    display: none;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    display: none;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
